.result, .error {
  display: none;
}
body {
	/*background-color: black;*/
  background: yellow;
  background-size: cover;
}


#poster {
	/*border: 50px blue;*/
	/*border: 2px dotted blue;*/
	border: 50px solid black;
}