@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Bungee|Fjalla+One|Nova+Script');

/*font-family: 'Bungee', cursive;*/
/*font-family: 'Nova Script', cursive;*/
/*font-family: 'Fjalla One', sans-serif;*/

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: xx-large;
}
h1 {
	color: #82A7BA;
}
h2 {
	color: #011463;
	/*text-shadow: black;*/
}
h3 {
	color: #2A3D77;
}
p, li {
  font-family: 'Slabo 27px', serif;
  color: #010741;
  /*font-size: x-large;*/
}

.project p {
	font-size: xx-large;
}

.project {
  background-color: grey;
  width: 543px;
}

body {
	/*background-color: black;*/
  background: url('../images/api console.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header, footer {
  	background-color: #1D3348;
  	text-align: center;
  	padding: 15px 30px;

}

header img {
  width: 90%;
  border-radius: 15px;
  /*transform: rotate(90deg);*/
}

.main-content {
  /*background-color: #808F85;*/
  background-color: #B5C6D8;
  padding: 10px 0;
  border-top: 2px solid #CFD11A;
}

.main-content ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 auto;
  text-align: center;
}

.main-content ul li {
  padding: 10px;
  /*text-align: center;*/
  display: inline;
}

a {
  color: #000C5B;
  text-shadow: 1px 1px 2px black;
  font-family: 'Montserrat', sans-serif;
}

.main-content p {
  margin: 10px 40px;
  font-size: x-large;
}

.main-content h2 {
  text-align: center;
}

#projects {
  /*background-color: #808F85;*/
  background-color: #B5C6D8;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.project {
  width: 88%;
  display: inline-block;
  background-color: #0383CC;
  /*background-color: teal;*/
  margin: 8.66%;
  border-radius: 20px;
  float: left;
}

.project h2 {
  text-align: center;
  /*text-shadow: black;*/
  text-shadow: 1px 1px 2px black;
}

.project img {
  max-width: 100%;
}

#wake {
	width: 300%;
}

#livemusic {
	width: 300%;
}

#snow {
	width: 200%;
}


.social {
	font-family: 'Fjalla One', sans-serif;
	font-size: x-large;
}

/*#liveband {*/
	/*transform: rotate(90deg);*/
/*}*/

.foot{
	font-size: xx-large;
}














